# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# SQLite database and cache
articles.db
.langchain.db

# FAISS vector store
faiss_articles/


# Docker
*.log

# OS files
.DS_Store
Thumbs.db
